body {  background: #0F3770}
td    { font-size: 12px}
.big  { font-size: 14.8px}
.white  { color: #FFFFFF}
.wide {  letter-spacing: 1px}
a {  text-decoration: none; color: #000000}
a:hover {  text-decoration: underline}
A.a1:hover { COLOR: #000000; TEXT-DECORATION: none}
A.a1 { TEXT-DECORATION: none}
/*
     FILE ARCHIVED ON 16:57:25 Oct 11, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:10:39 Nov 09, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 86.096
  exclusion.robots: 0.072
  exclusion.robots.policy: 0.061
  cdx.remote: 0.06
  esindex: 0.011
  LoadShardBlock: 60.939 (3)
  PetaboxLoader3.datanode: 104.012 (4)
  load_resource: 87.116
  PetaboxLoader3.resolve: 34.511
*/