body {  background: #0F3770}
td    { font-size: 12px}
.big  { font-size: 14.8px}
.white  { color: #FFFFFF}
.wide {  letter-spacing: 1px}
a {  text-decoration: none; color: #000000}
a:hover {  text-decoration: underline}
A.a1:hover { COLOR: #000000; TEXT-DECORATION: none}
A.a1 { TEXT-DECORATION: none}
/*
     FILE ARCHIVED ON 16:57:25 Oct 11, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:08:00 Nov 07, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 162.983
  exclusion.robots: 0.115
  exclusion.robots.policy: 0.101
  cdx.remote: 0.086
  esindex: 0.012
  LoadShardBlock: 134.945 (3)
  PetaboxLoader3.datanode: 185.133 (4)
  load_resource: 106.601
  PetaboxLoader3.resolve: 39.891
*/