.copyright {
	FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.highlights {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc3300; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.highlight-des {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.highlight-left {
	FONT-SIZE: 12px; COLOR: #999999; LINE-HEIGHT: 15px
}